<style>
    .e-n-menu-heading > .e-n-menu-item:hover {
        cursor: pointer;
        background-color: var(--e-global-color-008a5b4);
        border-radius: 32px 32px 32px 32px;
    }

    span.e-n-menu-title-text {
        cursor: pointer !important;
    }
</style>
<nav class="e-n-menu" data-widget-number="171" aria-label="Menu">
    <button class="e-n-menu-toggle" id="menu-toggle-171" aria-haspopup="true" aria-expanded="false"
        aria-controls="menubar-171" aria-label="Permuter le menu">
        <span class="e-n-menu-toggle-icon e-open">
            <svg class="e-font-icon-svg e-eicon-menu-bar" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M104 333H896C929 333 958 304 958 271S929 208 896 208H104C71 208 42 237 42 271S71 333 104 333ZM104 583H896C929 583 958 554 958 521S929 458 896 458H104C71 458 42 487 42 521S71 583 104 583ZM104 833H896C929 833 958 804 958 771S929 708 896 708H104C71 708 42 737 42 771S71 833 104 833Z">
                </path>
            </svg> </span>
        <span class="e-n-menu-toggle-icon e-close">
            <svg class="e-font-icon-svg e-eicon-close" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z">
                </path>
            </svg> </span>
    </button>
    <div class="e-n-menu-wrapper" id="menubar-171" aria-labelledby="menu-toggle-171">
        <ul class="e-n-menu-heading" style="list-style:none;">
            <li class="e-n-menu-item">
                <div id="e-n-menu-title-1711" class="e-n-menu-title">
                    <a class="e-n-menu-title-container e-focus e-link" href="/qui-sommes-nous/"> <span
                            class="e-n-menu-title-text">
                            Qui sommes-nous ? </span>
                    </a> <button id="e-n-menu-dropdown-icon-1711" class="e-n-menu-dropdown-icon e-focus"
                        data-tab-index="1" aria-haspopup="true" aria-expanded="false"
                        aria-controls="e-n-menu-content-1711">
                        <span class="e-n-menu-dropdown-icon-opened">
                            <span class="elementor-screen-only">Fermer Qui sommes-nous ?</span>
                        </span>
                        <span class="e-n-menu-dropdown-icon-closed">
                            <span class="elementor-screen-only">Ouvrir Qui sommes-nous ?</span>
                        </span>
                    </button>
                </div>
                <div class="e-n-menu-content">
                    <div id="e-n-menu-content-1711" data-tab-index="1" aria-labelledby="e-n-menu-dropdown-icon-1711"
                        class="elementor-element elementor-element-60cc7c1b e-flex e-con-boxed e-con e-child"
                        data-id="60cc7c1b" data-element_type="container"
                        data-settings="{&quot;jet_parallax_layout_list&quot;:[],&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="e-con-inner">
                            <div class="elementor-element elementor-element-7fe2552e e-flex e-con-boxed e-con e-child"
                                data-id="7fe2552e" data-element_type="container"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-4507b6e3 e-flex e-con-boxed e-con e-child"
                                        data-id="4507b6e3" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[],&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="e-con-inner">
                                            <div class="elementor-element elementor-element-30bed1c2 elementor-icon-list--layout-inline elementor-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="30bed1c2" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <ul class="elementor-icon-list-items elementor-inline-items" style="list-style:none;">
                                                    <li class="elementor-icon-list-item elementor-inline-item">
                                                        <a href="/qui-sommes-nous/"><span
                                                                class="elementor-icon-list-icon">
                                                                <svg aria-hidden="true"
                                                                    class="e-font-icon-svg e-fas-arrow-right"
                                                                    viewBox="0 0 448 512"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
                                                                    </path>
                                                                </svg> </span>
                                                            <span class="elementor-icon-list-text">Découvrir</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="elementor-element elementor-element-5bceb1e8 elementor-widget elementor-widget-heading"
                                                data-id="5bceb1e8" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <h2 class="elementor-heading-title elementor-size-default">
                                                    <a href="/qui-sommes-nous/">Qui
                                                        sommes-nous ?</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-43b8eda5 e-flex e-con-boxed e-con e-child"
                                        data-id="43b8eda5" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                                        <div class="e-con-inner">
                                            <a class="elementor-element elementor-element-35247661 e-flex e-con-boxed e-con e-child"
                                                data-id="35247661" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/qui-sommes-nous/presentation-du-resah/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-43d055b6 elementor-widget elementor-widget-heading"
                                                        data-id="43d055b6" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Présentation</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-16ecef12 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="16ecef12" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Découvrez notre activité, nos missions
                                                        et consultez tous nos chiffres clefs
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-66bf6b39 e-flex e-con-boxed e-con e-child"
                                                data-id="66bf6b39" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/qui-sommes-nous/lequipe/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-7eb2650e elementor-widget elementor-widget-heading"
                                                        data-id="7eb2650e" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            L'équipe</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-687648e1 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="687648e1" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Une équipe professionnelle, agile et
                                                        engagée au service de la performance des
                                                        achats et de la logistique</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-68372f6c e-flex e-con-boxed e-con e-child"
                                                data-id="68372f6c" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/qui-sommes-nous/nos-membres/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-6918d035 elementor-widget elementor-widget-heading"
                                                        data-id="6918d035" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Nos membres</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-3eb3d9b4 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="3eb3d9b4" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Découvrez qui peut bénéficier de nos
                                                        offres et comment</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-637eba40 e-flex e-con-boxed e-con e-child"
                                        data-id="637eba40" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                                        <div class="e-con-inner">
                                            <a class="elementor-element elementor-element-453b1bce e-flex e-con-boxed e-con e-child"
                                                data-id="453b1bce" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/qui-sommes-nous/responsabilite-sociale-des-organisations-rso/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-602117cf elementor-widget elementor-widget-heading"
                                                        data-id="602117cf" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Responsabilité Sociale des
                                                            Organisations (RSO)</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7924841a elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="7924841a" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Le Resah s’engage pour construire la
                                                        nouvelle performance de l’achat
                                                        responsable</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-428d6c7 e-flex e-con-boxed e-con e-child"
                                                data-id="428d6c7" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/qui-sommes-nous/europe/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-55c79741 elementor-widget elementor-widget-heading"
                                                        data-id="55c79741" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Europe</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-4c6f2c95 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="4c6f2c95" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Impliqué et reconnu à l’échelle
                                                        internationale, découvrez les projets et
                                                        travaux menés par le Resah</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-4a61c387 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-child"
                                                data-id="4a61c387" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/actualites/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-3ec278fa elementor-widget elementor-widget-heading"
                                                        data-id="3ec278fa" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Actualités</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-34327931 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="34327931" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Notre blog : des articles fréquents et
                                                        fournis sur les activités du Resah</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="e-n-menu-item">
                <div id="e-n-menu-title-1712" class="e-n-menu-title">
                    <a class="e-n-menu-title-container e-focus e-link" href="/centrale-dachat/"> <span
                            class="e-n-menu-title-text">
                            Centrale d'achat </span>
                    </a> <button id="e-n-menu-dropdown-icon-1712" class="e-n-menu-dropdown-icon e-focus"
                        data-tab-index="2" aria-haspopup="true" aria-expanded="false"
                        aria-controls="e-n-menu-content-1712">
                        <span class="e-n-menu-dropdown-icon-opened">
                            <span class="elementor-screen-only">Fermer Centrale d'achat</span>
                        </span>
                        <span class="e-n-menu-dropdown-icon-closed">
                            <span class="elementor-screen-only">Ouvrir Centrale d'achat</span>
                        </span>
                    </button>
                </div>
                <div class="e-n-menu-content">
                    <div id="e-n-menu-content-1712" data-tab-index="2" aria-labelledby="e-n-menu-dropdown-icon-1712"
                        class="elementor-element elementor-element-54f3eb6b e-flex e-con-boxed e-con e-child"
                        data-id="54f3eb6b" data-element_type="container"
                        data-settings="{&quot;jet_parallax_layout_list&quot;:[],&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="e-con-inner">
                            <div class="elementor-element elementor-element-7b0b3fe4 e-flex e-con-boxed e-con e-child"
                                data-id="7b0b3fe4" data-element_type="container"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-479c277f e-flex e-con-boxed e-con e-child"
                                        data-id="479c277f" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[],&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="e-con-inner">
                                            <div class="elementor-element elementor-element-5e54ad3f elementor-icon-list--layout-inline elementor-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="5e54ad3f" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <ul class="elementor-icon-list-items elementor-inline-items" style="list-style:none;margin:0;padding:0;">
                                                    <li class="elementor-icon-list-item elementor-inline-item">
                                                        <a href="/centrale-dachat/"><span
                                                                class="elementor-icon-list-icon">
                                                                <svg aria-hidden="true"
                                                                    class="e-font-icon-svg e-fas-arrow-right"
                                                                    viewBox="0 0 448 512"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
                                                                    </path>
                                                                </svg> </span>
                                                            <span class="elementor-icon-list-text">Découvrir</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="elementor-element elementor-element-25c8603d elementor-widget elementor-widget-heading"
                                                data-id="25c8603d" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <h2 class="elementor-heading-title elementor-size-default">
                                                    <a href="/centrale-dachat/">Centrale
                                                        d'achat</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-785696c7 e-flex e-con-boxed e-con e-child"
                                        data-id="785696c7" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                                        <div class="e-con-inner">
                                            <a class="elementor-element elementor-element-2dc146c5 e-flex e-con-boxed e-con e-child"
                                                data-id="2dc146c5" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centrale-dachat/presentation-de-la-centrale-dachat/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-1e2c195e elementor-widget elementor-widget-heading"
                                                        data-id="1e2c195e" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Présentation de la centrale d'achat
                                                        </h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-2d4313f2 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="2d4313f2" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Une offre construite pour et avec les
                                                        bénéficiaires, adaptée et différenciée,
                                                        en fonction de leur secteur d’activité
                                                        (sanitaire, médico-social et social)
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-2e0b79bb e-flex e-con-boxed e-con e-child"
                                                data-id="2e0b79bb" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centrale-dachat/vous-etes-acheteur/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-2158b034 elementor-widget elementor-widget-heading"
                                                        data-id="2158b034" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Vous êtes acheteur ?</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-1efd5c07 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="1efd5c07" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Découvrez comment bénéficier des offres
                                                        de notre centrale d’achat</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-3aa124f2 e-con-full e-flex e-con e-child"
                                                data-id="3aa124f2" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/comment-adherer-a-la-centrale-dachat/">
                                                <div class="elementor-element elementor-element-b1260 elementor-widget elementor-widget-heading"
                                                    data-id="b1260" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <h3 class="elementor-heading-title elementor-size-default">
                                                        Comment adhérer à la centrale d’achat ?
                                                    </h3>
                                                </div>
                                                <div class="elementor-element elementor-element-6469691a elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                    data-id="6469691a" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <p>Rejoindre le Resah, c’est choisir une
                                                        solution innovante et efficace.</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-f00779c e-flex e-con-boxed e-con e-child"
                                        data-id="f00779c" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                                        <div class="e-con-inner">
                                            <a class="elementor-element elementor-element-2078f51a e-flex e-con-boxed e-con e-child"
                                                data-id="2078f51a" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centrale-dachat/le-centre-de-linnovation-par-les-achats/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-3ae7616a elementor-widget elementor-widget-heading"
                                                        data-id="3ae7616a" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Le centre de l'innovation par les
                                                            achats</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-269d2856 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="269d2856" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Pour faciliter la détection et la
                                                        diffusion de solutions innovantes dans
                                                        le secteur de la santé</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-15d30014 e-flex e-con-boxed e-con e-child"
                                                data-id="15d30014" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centrale-dachat/vous-etes-fournisseur/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-6cb2056d elementor-widget elementor-widget-heading"
                                                        data-id="6cb2056d" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Vous êtes fournisseur ?</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-62cba467 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="62cba467" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Découvrez comment être retenu dans le
                                                        cadre d’un appel d’offres et
                                                        travailler avec le Resah en tant que
                                                        titulaire</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="e-n-menu-item">
                <div id="e-n-menu-title-1713" class="e-n-menu-title">
                    <a class="e-n-menu-title-container e-focus e-link" href="/centre-de-ressources-et-d-expertise/">
                        <span class="e-n-menu-title-text">
                            Centre de ressources et d'expertise </span>
                    </a> <button id="e-n-menu-dropdown-icon-1713" class="e-n-menu-dropdown-icon e-focus"
                        data-tab-index="3" aria-haspopup="true" aria-expanded="false"
                        aria-controls="e-n-menu-content-1713">
                        <span class="e-n-menu-dropdown-icon-opened">
                            <span class="elementor-screen-only">Fermer Centre de ressources et
                                d'expertise</span>
                        </span>
                        <span class="e-n-menu-dropdown-icon-closed">
                            <span class="elementor-screen-only">Ouvrir Centre de ressources et
                                d'expertise</span>
                        </span>
                    </button>
                </div>
                <div class="e-n-menu-content">
                    <div id="e-n-menu-content-1713" data-tab-index="3" aria-labelledby="e-n-menu-dropdown-icon-1713"
                        class="elementor-element elementor-element-25299208 e-flex e-con-boxed e-con e-child"
                        data-id="25299208" data-element_type="container"
                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
                        <div class="e-con-inner">
                            <div class="elementor-element elementor-element-438f9090 e-flex e-con-boxed e-con e-child"
                                data-id="438f9090" data-element_type="container"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-469310cf e-flex e-con-boxed e-con e-child"
                                        data-id="469310cf" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[],&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="e-con-inner">
                                            <div class="elementor-element elementor-element-41ab2739 elementor-icon-list--layout-inline elementor-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="41ab2739" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <ul class="elementor-icon-list-items elementor-inline-items" style="list-style:none;margin:0;padding:0;">
                                                    <li class="elementor-icon-list-item elementor-inline-item">
                                                        <a href="/centre-de-ressources-et-d-expertise/"><span
                                                                class="elementor-icon-list-icon">
                                                                <svg aria-hidden="true"
                                                                    class="e-font-icon-svg e-fas-arrow-right"
                                                                    viewBox="0 0 448 512"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
                                                                    </path>
                                                                </svg> </span>
                                                            <span class="elementor-icon-list-text">Découvrir</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="elementor-element elementor-element-2fee35cd elementor-widget elementor-widget-heading"
                                                data-id="2fee35cd" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <h2 class="elementor-heading-title elementor-size-default">
                                                    <a href="/centre-de-ressources-et-d-expertise/">Centre
                                                        de ressources et d'expertise</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3a45a775 e-flex e-con-boxed e-con e-child"
                                        data-id="3a45a775" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                                        <div class="e-con-inner">
                                            <a class="elementor-element elementor-element-7ee7e7ad e-flex e-con-boxed e-con e-child"
                                                data-id="7ee7e7ad" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centre-de-ressources-et-d-expertise/guichet/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-4c3e41c9 elementor-widget elementor-widget-heading"
                                                        data-id="4c3e41c9" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Guichet de l'acheteur hospitalier
                                                            responsable</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-5c27d04f elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="5c27d04f" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Le bouquet de services entièrement dédié
                                                        à l’achat responsable</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-1dbb8fb8 e-flex e-con-boxed e-con e-child"
                                                data-id="1dbb8fb8" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centre-de-ressources-et-d-expertise/publications/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-71d44650 elementor-widget elementor-widget-heading"
                                                        data-id="71d44650" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Publications</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-113e85d elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="113e85d" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Informez-vous sur les achats et la
                                                        logistique avec le Resah</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-6fe53e17 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-child"
                                                data-id="6fe53e17" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centre-de-ressources-et-d-expertise/digitalisation/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-3e26502e elementor-widget elementor-widget-heading"
                                                        data-id="3e26502e" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Digitalisation</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-68c6bb23 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="68c6bb23" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Des outils informatiques pour piloter
                                                        votre fonction achat</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-28a08894 e-flex e-con-boxed e-con e-child"
                                        data-id="28a08894" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                                        <div class="e-con-inner">
                                            <a class="elementor-element elementor-element-430969cc e-flex e-con-boxed e-con e-child"
                                                data-id="430969cc" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centre-de-ressources-et-d-expertise/formation/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-4fb19be6 elementor-widget elementor-widget-heading"
                                                        data-id="4fb19be6" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Formation</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-4f9e0ce9 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="4f9e0ce9" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Le centre de formation pour les
                                                        professionnels de l’achat</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-ce01f3d elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-child"
                                                data-id="ce01f3d" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centre-de-ressources-et-d-expertise/appui/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-1879e258 elementor-widget elementor-widget-heading"
                                                        data-id="1879e258" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Appui</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-2c9a660c elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="2c9a660c" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Une équipe de consultants spécialisés en
                                                        achat et logistique</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-78c24cc e-flex e-con-boxed e-con e-child"
                                                data-id="78c24cc" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/centre-de-ressources-et-d-expertise/mise-en-reseau/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-52620600 elementor-widget elementor-widget-heading"
                                                        data-id="52620600" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Mise en réseau</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-53f0d521 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="53f0d521" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Partagez vos expériences entre pairs à
                                                        travers les groupes d’étude et de
                                                        benchmarking</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="e-n-menu-item">
                <div id="e-n-menu-title-1714" class="e-n-menu-title">
                    <a class="e-n-menu-title-container e-focus e-link" href="/agenda/"> <span
                            class="e-n-menu-title-text">
                            Événements </span>
                    </a> <button id="e-n-menu-dropdown-icon-1714" class="e-n-menu-dropdown-icon e-focus"
                        data-tab-index="4" aria-haspopup="true" aria-expanded="false"
                        aria-controls="e-n-menu-content-1714">
                        <span class="e-n-menu-dropdown-icon-opened">
                            <span class="elementor-screen-only">Fermer Événements</span>
                        </span>
                        <span class="e-n-menu-dropdown-icon-closed">
                            <span class="elementor-screen-only">Ouvrir Événements</span>
                        </span>
                    </button>
                </div>
                <div class="e-n-menu-content">
                    <div id="e-n-menu-content-1714" data-tab-index="4" aria-labelledby="e-n-menu-dropdown-icon-1714"
                        class="elementor-element elementor-element-631aad13 e-flex e-con-boxed e-con e-child"
                        data-id="631aad13" data-element_type="container"
                        data-settings="{&quot;jet_parallax_layout_list&quot;:[],&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="e-con-inner">
                            <div class="elementor-element elementor-element-14b2765d e-flex e-con-boxed e-con e-child"
                                data-id="14b2765d" data-element_type="container"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;jet_parallax_layout_list&quot;:[]}">
                                <div class="e-con-inner">
                                    <div class="elementor-element elementor-element-2b6b43a e-flex e-con-boxed e-con e-child"
                                        data-id="2b6b43a" data-element_type="container"
                                        data-settings="{&quot;jet_parallax_layout_list&quot;:[]}">
                                        <div class="e-con-inner">
                                            <a class="elementor-element elementor-element-68e06059 e-flex e-con-boxed e-con e-child"
                                                data-id="68e06059" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/agenda/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-ccc8e59 elementor-widget elementor-widget-heading"
                                                        data-id="ccc8e59" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Agenda</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-30ec28c8 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="30ec28c8" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        La Resah organise des évènements
                                                        nombreux et variés pour vous guider vers
                                                        toujours plus de performance</div>
                                                </div>
                                            </a>
                                            <a class="elementor-element elementor-element-3ac862e7 e-flex e-con-boxed e-con e-child"
                                                data-id="3ac862e7" data-element_type="container"
                                                data-settings="{&quot;jet_parallax_layout_list&quot;:[]}"
                                                href="/nos-replays/">
                                                <div class="e-con-inner">
                                                    <div class="elementor-element elementor-element-1397004f elementor-widget elementor-widget-heading"
                                                        data-id="1397004f" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            Nos replays</h3>
                                                    </div>
                                                    <div class="elementor-element elementor-element-6724a9b8 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                                                        data-id="6724a9b8" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        Découvrez les vidéos des précédents
                                                        Webinars du Resah sur plus de 10
                                                        thématiques</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>